<div>
  <ion-list>
    <ion-item class="payments-view__payment">
      <div class="bp-payments__payment__order-title">PS3</div>
      <div class="bp-payments__payment__order-amount">$599</div>
      <div class="bp-payments__payment__order-date">11:00 AM, May 5</div>
      <div class="bp-payments__payment__order-status bp-payments__payment__order-status--paid">
        <i class="icon ion-checkmark-circled" ng-show="!payment.exception"></i>
        <span>PAID</span>
      </div>
    </ion-item>
    <ion-item class="payments-view__payment">
      <div class="bp-payments__payment__order-title">PS3</div>
      <div class="bp-payments__payment__order-amount">$599</div>
      <div class="bp-payments__payment__order-date">11:00 AM, May 5</div>
      <div class="bp-payments__payment__order-status bp-payments__payment__order-status--overpaid">
        <i class="icon ion-checkmark-circled" ng-show="!payment.exception"></i>
        <span>OVERPAID BY $2.55</span>
      </div>
    </ion-item>
  </ion-list>
</div>
