#some good defaults
*.log
.DS_Store
*.swp

#ignore files placed by npm build
.bin

#ignore local config files
.idea/
.directory

#ignore node modules
node_modules

#ignore compiled assets
www/css

#ignore
dist
